{
    "dev": {
        "token": "182c13e2209161852c53cef53a879f7a2f923430",
        "objecttypes_api_url": "http://host.docker.internal:8011/api/v2/objecttypes/7d030ee0-564b-4386-b55c-d1033a1ebb97",
        "objects_api_url": "http://localhost:8010/api/v2/objects"
    },
    "test": {
        "token": "TOKEN",
        "objecttypes_api_url": "https://objecttypen-zgw.test.denhaag.nl/api/v2/objecttypes/0cb89a25-bbd1-4d18-a13c-5141a5e3682c",
        "objects_api_url": "https://objecten-zgw.test.denhaag.nl/api/v2/objects"
    },
    "acc": {
        "token": "TOKEN",
        "objecttypes_api_url": "https://objecttypen-zgw.acc.denhaag.nl/api/v2/objecttypes/b8370e99-a2dd-465f-8b02-d36ba3acadd1",
        "objects_api_url": "https://objecten-zgw.acc.denhaag.nl/api/v2/objects"
    }
}
